[OPTIONS]
TextWidth=80
[OUTPUTHEADER]
[OUTPUTFOOTER]
[MARKUPTAGS]
MarkupHeaderBlock=,\n
MarkupNotationBlock=, 
MarkupResult=,
MarkupMainLineMove=,
MarkupVariationMove=,
MarkupMainLine=,
MarkupVariationInline=( ,) 
MarkupVariationResume=,
MarkupVariationIndent=( ,) 
MarkupNag=,
MarkupAnnotationInline= { ,} 
MarkupAnnotationIndent= { ,} 
MarkupPreAnnotationInline={ , } 
MarkupPreAnnotationIndent={ , } 
MarkupHeaderLine=[,]\n
MarkupHeaderTagName=,
MarkupHeaderTagValue=","
