*.DS_Store
*.stash
*.o
.qtc_clangd/*
debug/*
*/generated/*
chessx.app
*.user
Makefile
*.qm
*.pb
*.dmg
release/*
dmg/*
obj_dbg/*
*/obj_rel/*
coverage/*
attic/*
gcov-info/coverage.info
lib/chessx-pgn/moc*
build/
Thumbs.db
Packages/
