<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>si4</string>
				<string>si3</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Scid Database Index</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Scid</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeIconFile</key>
			<string>ScidDB.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sg4</string>
				<string>sg3</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Scid Database Games</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Scid</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeIconFile</key>
			<string>ScidDB.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sn4</string>
				<string>sn3</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Scid Database Names</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Scid</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeIconFile</key>
			<string>ScidDB.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pgn</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
				<string>application/x-chess-pgn</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Portable Game Notation (PGN)</string>
			<key>CFBundleTypeIconFile</key>
			<string>ScidPGN.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>cpgn</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>epd</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
				<string>application/x-chess-epd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Extended Position Description (EPD)</string>
			<key>CFBundleTypeIconFile</key>
			<string>ScidEPD.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>cepd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gz</string>
				<string>gzip</string>
				<string>GZ</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/gzip</string>
				<string>application/x-gzip</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Gzip File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Gzip</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.gnu.gnu-zip-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sso</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Scid Search Options File</string>
			<key>CFBundleTypeIconFile</key>
			<string>ScidSSO.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ssso</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sor</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Scid Repertoire File</string>
			<key>CFBundleTypeIconFile</key>
			<string>ScidSOR.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ssor</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sem</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Scid Email File</string>
			<key>CFBundleTypeIconFile</key>
			<string>ScidSEM.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ssem</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ssp</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Scid Spelling File</string>
			<key>CFBundleTypeIconFile</key>
			<string>ScidSSP.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sssp</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>stm</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Scid Tree Mask File</string>
			<key>CFBundleTypeIconFile</key>
			<string>ScidSTM.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sstm</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>eco</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ECO File</string>
			<key>CFBundleTypeIconFile</key>
			<string>ScidECO.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>seco</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>emd</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Nalimov Endgame Tablebase File</string>
			<key>CFBundleTypeIconFile</key>
			<string>ScidEMD.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>semd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nbw</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Uncompressed Nalimov Endgame Tablebase White to Move File</string>
			<key>CFBundleTypeIconFile</key>
			<string>ScidNBW.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>snbw</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nbb</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Uncompressed Nalimov Endgame Tablebase Black to Move File</string>
			<key>CFBundleTypeIconFile</key>
			<string>ScidNBB.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>snbb</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>scid</string>
	<key>CFBundleGetInfoString</key>
	<string>Scid x.x</string>
	<key>CFBundleIconFile</key>
	<string>ScidApp.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.scid</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Scid</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>x.x</string>
	<key>CFBundleSignature</key>
	<string>Scid</string>
	<key>CFBundleVersion</key>
	<string>x.x</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) Shane Hudson and others</string>
</dict>
</plist>
