[OPTIONS]
TextWidth=80
[OUTPUTHEADER]
[OUTPUTFOOTER]
[MARKUPTAGS]
MarkupHeaderBlock=,\n
MarkupNotationBlock=, 
MarkupResult=,
MarkupMainLineMove=,
MarkupVariationMove=,
MarkupMainLine=,
MarkupVariationInline=,
MarkupVariationIndent=,
MarkupNag=,
MarkupAnnotationInline={,}
MarkupAnnotationIndent={,}
MarkupHeaderLine=[,]\n
MarkupHeaderTagName=,
MarkupHeaderTagValue=","

