<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pgn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>chessx.icns</string>
			<key>CFBundleTypeName</key>
			<string>PGN Files</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>chessx</string>
	<key>CFBundleGetInfoString</key>
	<string>ChessX for Mac OS 10.14</string>
	<key>CFBundleIconFile</key>
	<string>chessx.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.chessx</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.6</string>
	<key>CFBundleSignature</key>
	<string></string>
	<key>CFBundleVersion</key>
	<string>1.6.6</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>NSHumanReadableCopyright</key>
	<string>(C) 2005-2024 ChessX developers</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
